body {
    color: $default-color;
    font-size: 16px;
    line-height: 1.2;
    @extend %quicksand-500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header--404-page {
    background-color: #f6f6f6;
    padding-bottom: 25px;
}

.title {
    text-align: center;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 1.4;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $title-color ;

}